<div class="face-snap-card" [ngClass]="{ snapped: userHasSnapped }">
    <h2>{{ faceSnap.title | uppercase }}</h2>
    <p>FaceSnap créée le {{ faceSnap.createdAt | date: 'd MMMM yyyy, à HH:mm' }}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p>
        <button (click)="onSnap()">{{ snapButtonText }}</button>
        <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">🤌 {{ faceSnap.snaps }}</span>
    </p>
    @if (faceSnap.location) {
        <p>Localisation : {{ faceSnap.location }}</p>
    }
</div>
